<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="strDBSTR" value="Server=localhost\sqlexpress;Database=customersupport;Uid=dbuser;Pwd=admin123;"/>
		<add key="strSiteLink" value="delightdesk.com"/>
		<add key="strLocal" value="1"/>
    
		<add key="strSiteURL" value="http://delightdesk.com/"/>
		<add key="SMTPServer" value="k2.smtpserver.net"/>
		<add key="strImagesPath" value="Common/Images/"/>
		<add key="strHomePath" value="http://delightdesk.com/"/>
		<add key="strFromID" value="support@delightdesk.com"/>
		<add key="strCSSPath" value="Common/CSS/"/>
		<add key="strUserData" value="http://delightdesk.com/userdata/"/>
		<add key="strTemplatesPath" value="Common/Templates/"/>
		<add key="strJavascriptPath" value="Common/js/"/>
		<add key="strErrorPagePath" value="http://delightdesk.com/customersupport/"/>
		<add key="strEmailTemplatePath" value="Common/EmailTemplates/"/>
		<add key="strSearchDirectory" value="d:\Development\CustomerSupport\CustomerSupportUserData\searchIndex\"/>
		<add key="strTF_ConversationAlert" value="ConversationAlert.htm"/>
		<add key="strTF_WelcomeEmail" value="WelcomeEmail.htm"/>
		<add key="strTF_WelcomeNewUser" value="WelcomeNewUser.htm"/>
		<add key="strTF_ForgotPassword" value="ForgotPassword.htm"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="false">
		</compilation>
<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" timeout="60000"/>
		<customErrors mode="Off" defaultRedirect="Error.aspx"/>
		<authentication mode="Forms">
			<forms name="USER" loginUrl="~/Login.aspx" defaultUrl="~/default.aspx" protection="All" timeout="43200" slidingExpiration="false"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Index.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="partials">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="CreateAccount.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="widget.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="demowidget.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ProcessLead.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="error.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="pagenotfound.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="PricingAndPlans.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ajax/resp.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ForgotPassword.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ErrorLog.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Home">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="SupportCenter">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Common">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>

